@(articles: List[Article], articleMostReads: List[Article], articlesNextPage: List[Article], totalPage: Int, currentPage: Int)

<div class="row">
    <div class="col-md-9">
        @articles.map { article =>
        <div class="small-article">
            <div class="col-md-3">
                @article.featureImage.map { img =>
                <a href="/r/@article.domain/@article.uniqueTitle" target="_blank">
                    <img class="img" src="@img" alt="@article.title"/>
                </a>
                }
            </div>
            <div class="col-md-9">
                <h2 class="title"><a href="/r/@article.domain/@article.uniqueTitle" target="_blank">@article.title</a></h2>
                <p>@article.shortDescription</p>
                @if(!article.tagList.isEmpty) {
                <p class="keywords">
                    Từ khóa:&nbsp;
                    @article.tagList.map { tag =>
                    <a href="/tag/@tag" rel="tag">@tag</a>
                    }
                </p>
                }
            </div>
            <div class="clearfix"></div>
        </div>
        }

        <div class="paging">
            <span>
                @for(i <- 1 to totalPage) {
                <a href="?page=@i" class="@if(i == currentPage) {current}">@i</a>
                }
            </span>
        </div>

        @if(!articlesNextPage.isEmpty) {
        <div class="more-stories">
            <h2 class="title">Các tin khác:</h2>
            <ul>
                @articlesNextPage.map{ article =>
                <li><a href="/r/@article.domain/@article.uniqueTitle" target="_blank">@article.title</a></li>
                }
            </ul>
        </div>
        }

    </div>
    <div class="col-md-3">
        <div class="top-stories">
            <h3 class="title">Nổi bật trong tuần</h3>
            <div class="content">
                <ul>
                    @for(i <- 0 until articleMostReads.length) {
                    <li>
                        <span class="rank">@{i+1}</span>
                        <a href="/r/@articleMostReads(i).domain/@articleMostReads(i).uniqueTitle" target="_blank">@articleMostReads(i).title</a>
                        <div class="clearfix"></div>
                    </li>
                    }
                </ul>
            </div>
        </div>
        <!--<div class="top-tags">-->
            <!--<h3 class="title">Xu hướng đọc</h3>-->
            <!--<ul>-->
                <!--<li><a href="http://www.baomoi.com/Tag/119/Abe-Shinzō.epi" rel="tag">Abe Shinzō</a></li>-->
                <!--<li><a href="http://www.baomoi.com/Tag/119/Abe-Shinzō.epi" rel="tag">Abe Shinzō</a></li>-->
                <!--<li><a href="http://www.baomoi.com/Tag/119/Abe-Shinzō.epi" rel="tag">Abe Shinzō</a></li>-->
                <!--<li><a href="http://www.baomoi.com/Tag/119/Abe-Shinzō.epi" rel="tag">Abe Shinzō</a></li>-->
                <!--<li><a href="http://www.baomoi.com/Tag/119/Abe-Shinzō.epi" rel="tag">Abe Shinzō</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>