@(pageDto: PageDto[Category])
@import boostraptable._

<div>
    <h3>Category</h3>
    <form class="form-inline pull-right" role="form">
        <div class="form-group">
            <input class="form-control input-sm" name="filter" id="filter" placeholder="Search..." value="@pageDto.filter" autofocus>
        </div>
    </form>
    <div class="pull-left">
        <a href="/admin/company/create" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> @Messages("btn.addNew")</a>
    </div>
    <div class="clearfix"></div>
</div>


<table class="table table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @pageDto.items.map{cat =>
    <tr>
        <td>1</td>
        <td>@cat.name</td>
    </tr>
    }
    </tbody>
</table>

@tablePagination(pageDto)