@(categories : List[Category])

<div class="full pkg text-center">
    <div class="foot-info">
        <p><strong>Copyright © 2014 hayhayblog.com</strong></p>
        <p>
            Địa chỉ: 354/41/5 Phan Văn Trị, P11, Q Bình Thạnh, Tp Hồ Chí Minh
        </p>
        <p><strong>Điện thoại: </strong>  (08)62896162 <strong> Hotline:</strong>01636481725</p>
        <p>
            <img src="/assets/img/email.png" style="vertical-align:middle">
            <a href="mailto:lienhe@@hayhayblog.com">lienhe@@hayhayblog.com</a>
        </p>
    </div>
</div>