<div class="footer_nav">
    <div class="container">
        <div class="footer_nav_ct">
            <a href="/" class="home"><span></span></a><a href="/tin-tuc/xa-hoi/29/">Xã hội</a>
            <a href="/tin-tuc/van-hoa/31/">Văn hóa</a> <a href="/tin-tuc/kinh-te/30/">Kinh tế</a>
            <a href="/tin-tuc/phap-luat/33/">Pháp luật</a> <a href="/tin-tuc/the-gioi/35/">Thế giới</a>
            <a href="/tin-tuc/cong-nghe/32/">Công nghệ</a> <a href="/tin-tuc/the-thao/25/">Thể thao</a>
            <a href="/tin-tuc/doi-song/13/">Đời sống</a> <a href="/tin-tuc/suc-khoe-gia-dinh/14/">Sức khỏe - Gia đình</a>
            <a href="/tin-tuc/nhip-song-tre/10/">Nhịp sống trẻ</a> <a href="/tin-tuc/tam-su/17/">Tâm sự</a>
            <a href="/tin-tuc/anh-dep/9/">Ảnh đẹp</a>
            <a href="/tin-tuc/gioi-tinh/16/">Giới tính</a>
            <a href="/tin-tuc/video-clip/24/">Video</a>
            <a href="#" class="rss">RSS</a>
        </div>
    </div>
</div>
<div class="footer_ct">
    <div class="container">
        <div class="info">
            <p>
                Copyright &copy; 2014 <a href="http://hayhayblog.com">hayhayblog.com</a> -
                Email: <a href="">lienhe@@hayhayblog.com</a>
            </p>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>