@(categories : List[Category])
<div class="footermenu" style="margin-top:10px !important;">
    <ul class="footermenulist">
        <li><a rel="nofollow" title="Trang chủ" href="/">Trang chủ</a></li>
        <li>|</li>
        @categories.map { cat =>
        <li><a rel="nofollow" title="Trang chủ" href="/cat/@cat.shortName">@cat.name</a></li>
        <li>|</li>
        }
    </ul>
</div>
<div class="contentsep">&nbsp;</div>
<div class="info">
    <p>
        Copyright &copy; 2014 <a href="http://hayhayblog.com"><strong>hayhayblog.com</strong></a> -
        Email: <a href="mailto:lienhe@@hayhayblog.com"><strong>lienhe@@hayhayblog.com</strong></a>
    </p>
    <p>
        VPĐD tại TP.HCM: <strong>354/41/5 Phan Văn Trị, P11, Q Bình Thạnh, Tp Hồ Chí Minh</strong>
    </p>
</div>