@(user: Option[User], catergoies: List[Category])
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">@Messages("application.name")</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/cat/all">All</a></li>
                    <li class="divider"></li>
                    @catergoies.map{ cat =>
                    <li><a href="/cat/@cat.shortName">@cat.name</a></li>
                    }
                </ul>
            </li>
            <li><a href="/about">About</a></li>
        </ul>
        <a href="http://facebook.com/#" title="Find us on Facebook" class="topmenu-social">
            <i class="fa fa-facebook"></i>
        </a>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Search">
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            @user.map{ user =>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>@user.fullname.getOrElse(user.email)</strong> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if(user.isAdmin) {
                    <li><a href="/admin">Admin</a></li>
                    }
                    <li><a href="/user/profile">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/user/logout">Logout</a></li>
                </ul>
            </li>
            }.getOrElse {
            <li>
                <a href="/user/login"><i class="fa fa-sign-in"></i> Login</a>
            </li>
            <li><a href="/user/register">Sign up</a></li>
            }
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>