@(data: TopMenuDto, article: Option[Article] = None)
@import partials._
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/assets/img/favicon.png" alt="HayHayBlog" width="32"/> HayHayBlog
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Trang chủ</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh mục<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @data.categories.map { cat =>
                    <li><a href="/cat/@cat.shortName">@cat.name</a></li>
                    }
                </ul>
            </li>
            @article.map { _article =>
            @_article.blog.map { _blog =>
            <li>
                <a href="/blog/@_blog.uniqueName" title="@_blog.name">
                    <img src="https://www.google.com/s2/favicons?domain=@_blog.url&alt=feed" alt="@_blog.name"/>
                    @_blog.name
                </a>
            </li>
            }
            <li>
                <a href="@_article.url" title="@_article.title"><i class="fa fa-chevron-circle-right"></i> @_article.shortTitle()</a>
            </li>
            <li>
                <a href="#">
                    @facebookLikeBtn(_article.url)
                </a>
            </li>
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @article.map { _article =>
            <li>
                <a href="@_article.url" title="Về trang gốc"><i class="fa fa-times-circle"></i></a>
            </li>
            }
        </ul>
    </div><!--/.nav-collapse -->
</div>