@(box: NewsBoxDto)
<div class="box">
    <div class="box-header">
        <h2><a href="">Thế giới <i class="fa fa-chevron-circle-right"></i></a></h2>
    </div>
    <div class="box-content">
        <div class="col-md-4">
            <div class="big-article">
                <div class="img">
                    <img src="http://dspl-thumb.nl-img.com/thumb_x315x230/2014/02/05/bao_mau.jpg" alt=""/>
                </div>
                <h2 class="title"><a href="">Năm mới, bàn về 18 năm tù của Dương Tự Trọng</a></h2>
                <div class="description">
                    (ĐSPL) - Bị "người yêu" từ chối tình cảm, Lương Hoàng (30 tuổi, Đài Loan ) đã rải những tấm ảnh thân mật chụp cùng bạn gái khắp đường Tân Bắc, Đài Loan.
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4">
            <div class="article">
                <h2 class="title"><a href="">Ngày Tết, rải ảnh nhạy cảm chụp với người yêu khắp phố</a></h2>
                <div class="img col-md-4">
                    <img src="http://dspl-thumb.nl-img.com/thumb_x104x78/2014/02/05/anh_sex.jpg" alt=""/>
                </div>
                <div class="description col-md-8">
                    (ĐSPL) - Bị "người yêu" từ chối tình cảm, Lương Hoàng (30 tuổi, Đài Loan ) đã rải những tấm ảnh
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="article">
                <h2 class="title"><a href="">Ngày Tết, rải ảnh nhạy cảm chụp với người yêu khắp phố</a></h2>
                <div class="img col-md-4">
                    <img src="http://dspl-thumb.nl-img.com/thumb_x104x78/2014/02/05/anh_sex.jpg" alt=""/>
                </div>
                <div class="description col-md-8">
                    (ĐSPL) - Bị "người yêu" từ chối tình cảm, Lương Hoàng (30 tuổi, Đài Loan ) đã rải những tấm ảnh
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="article">
                <h2 class="title"><a href="">Ngày Tết, rải ảnh nhạy cảm chụp với người yêu khắp phố</a></h2>
                <div class="img col-md-4">
                    <img src="http://dspl-thumb.nl-img.com/thumb_x104x78/2014/02/05/anh_sex.jpg" alt=""/>
                </div>
                <div class="description col-md-8">
                    (ĐSPL) - Bị "người yêu" từ chối tình cảm, Lương Hoàng (30 tuổi, Đài Loan ) đã rải những tấm ảnh
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="article">
                <h2 class="title"><a href="">Ngày Tết, rải ảnh nhạy cảm chụp với người yêu khắp phố</a></h2>
                <div class="img col-md-4">
                    <img src="http://dspl-thumb.nl-img.com/thumb_x104x78/2014/02/05/anh_sex.jpg" alt=""/>
                </div>
                <div class="description col-md-8">
                    (ĐSPL) - Bị "người yêu" từ chối tình cảm, Lương Hoàng (30 tuổi, Đài Loan ) đã rải những tấm ảnh
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>