<div class="left_box_2col">
    <div class="new_col">

        <div class="left_box">
            <div class="hd">
                <h1>
                    <span>\</span><a style="text-decoration: none; color: Black;"
                                     href="/tin-tuc/goc-chi-em/61/">Góc
                    chị em</a></h1>
                <a href="/tin-tuc/goc-chi-em/61/" class="btn_viewmore">Xem thêm +</a>

                <div class="clrb">
                </div>
            </div>
            <div class="box_main">
                <div class="news_1col">


                    <!--<div class="top">
                        <a href='/tin-tuc/02-02-2014/nam-moi-ban-co-dam-lam-dieu-moi/61/10466/'
                            class="thumb">
                            <img width="330" height="495" alt='Năm mới, bạn có dám làm điều mới?' src='http://media.depplus.vn/Media/News/thumbs/201402/495_xa-4_thumb20140201220747.jpg' /></a>
                        <h2>
                            <a href='/tin-tuc/02-02-2014/nam-moi-ban-co-dam-lam-dieu-moi/61/10466/'>
                                Năm mới, bạn có dám làm điều mới?
                            </a>
                        </h2>
                    </div>-->
                    <div class="news_big">
                        <a href="/tin-tuc/02-02-2014/nam-moi-ban-co-dam-lam-dieu-moi/61/10466/"
                           class="item">
                            <img width="330" height="495" alt="Năm mới, bạn có dám làm điều mới?"
                                 src="http://media.depplus.vn/Media/News/thumbs/201402/495_xa-4_thumb20140201220747.jpg">

                            <h2>
                                Năm mới, bạn có dám làm điều mới?</h2>
                        </a>
                    </div>
                    <ul>


                        <li>
                            <a href="/tin-tuc/02-02-2014/gai-chua-chong--co-chong-va-nhung-khac-biet-thu-vi-khi-nghi-tet/61/10467/">
                                Gái "chưa chồng - có chồng" và những khác biệt thú vị khi nghỉ Tết</a>
                        </li>


                        <li><a href="/tin-tuc/01-02-2014/gai-khon-khong-bao-gio-so-co-don/61/10446/">
                            Gái khôn không bao giờ sợ cô đơn!</a></li>


                        <li>
                            <a href="/tin-tuc/01-02-2014/10-cau-tuyet-doi-khong-nen-hoi-cac-nang-fa-ngay-tet-/61/10431/">
                                10 câu tuyệt đối không nên hỏi các nàng FA ngày Tết </a></li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="new_col">

        <!-- dan ong-->

        <div class="left_box">
            <div class="hd">
                <h1>
                    <span>\</span><a style="text-decoration: none; color: Black;"
                                     href="/tin-tuc/dan-ong/55/">Đàn
                    ông</a></h1>
                <a href="/tin-tuc/dan-ong/55/" class="btn_viewmore">Xem thêm +</a>

                <div class="clrb">
                </div>
            </div>
            <div class="box_main">
                <div class="news_1col">


                    <!--<div class="top">
                        <a href='/tin-tuc/02-02-2014/-nhung-y-tuong-kinh-doanh-dien-ro-nhung-mang-ve-tien-ty/77/10455/'
                            class="thumb">
                            <img width="330" height="495" alt=' Những ý tưởng kinh doanh điên rồ nhưng mang về tiền tỷ' src='http://media.depplus.vn/Media/News/thumbs/201402/495_xuong-don_thumb20140201151459.jpg' /></a>
                        <h2>
                            <a href='/tin-tuc/02-02-2014/-nhung-y-tuong-kinh-doanh-dien-ro-nhung-mang-ve-tien-ty/77/10455/'>
                                 Những ý tưởng kinh doanh điên rồ nhưng mang về tiền tỷ
                            </a>
                        </h2>
                    </div>-->
                    <div class="news_big">
                        <a href="/tin-tuc/02-02-2014/-nhung-y-tuong-kinh-doanh-dien-ro-nhung-mang-ve-tien-ty/77/10455/"
                           class="item">
                            <img width="330" height="495"
                                 alt=" Những ý tưởng kinh doanh điên rồ nhưng mang về tiền tỷ"
                                 src="http://media.depplus.vn/Media/News/thumbs/201402/495_xuong-don_thumb20140201151459.jpg">

                            <h2>
                                Những ý tưởng kinh doanh điên rồ nhưng mang về tiền tỷ</h2>
                        </a>
                    </div>
                    <ul>


                        <li>
                            <a href="/tin-tuc/02-02-2014/-5-item-nen-dau-tu-cho-tu-do-cua-nam-2014/58/10427/">
                                5 item nên đầu tư cho tủ đồ của năm 2014</a></li>


                        <li>
                            <a href="/tin-tuc/02-02-2014/-xoa-bo-hinh-tuong-bad-boy-trong-nam-moi/57/10426/">
                                Xóa bỏ hình tượng “Bad boy” trong năm mới</a></li>


                        <li><a href="/tin-tuc/01-02-2014/hay-bat-dau-voi-9-thanh-cong-co-ban/77/10410/">
                            Hãy bắt đầu với 9 thành công cơ bản</a></li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="clrb">
    </div>
</div>