@(box: NewsBoxDto)

@articleBlock(article: Article) = {
<div class="article">
    <h2 class="title"><a href="@article.url" target="_blank">@article.title</a></h2>
    <div class="img col-md-4">
        @article.featureImage.map { img =>
        <a href="@article.title" target="_blank"><img src="@img" alt="@article.title"/></a>
        }
    </div>
    <div class="description col-md-8">@article.shortDescription</div>
    <div class="clearfix"></div>
</div>
}
<div class="box">
    <div class="box-header">
        <h2><a href="/cat/@box.shortName">@box.title <i class="fa fa-chevron-circle-right"></i></a></h2>
    </div>
    <div class="box-content">
        <div class="col-md-4">
            @box.bigArticle.map { article =>
            <div class="big-article">
                <div class="img">
                    @article.featureImage.map { img =>
                    <a href="@article.url" target="_blank">
                        <img src="@img" alt="@article.title"/>
                    </a>
                    }
                </div>
                <h2 class="title"><a href="@article.url" target="_blank">@article.title</a></h2>
                <div class="description">@article.shortDescription</div>
            </div>
            }
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4">
            @box.articles.take(2).map {article =>
                @articleBlock(article)
            }
        </div>
        <div class="col-md-4">
            @box.articles.drop(2).map {article =>
            @articleBlock(article)
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>