<div class="news_you_care">
    <div class="hd">
        <h5><a href="/tin-tuc/video-clip/24/">Video nổi bật</a></h5>
    </div>

    <ul>

        <li><a href="/tin-tuc/18-12-2013/Cuoc-tinh-dam-dang-cua-Vo-Tac-Thien/64/210052/" class="photo">
            <img width="120" height="90" alt="Cuộc tình “dâm đãng” của Võ Tắc Thiên" src="http://media.docbao.vn/Assets/News/18122013/tac-thien.jpg"></a>
            <h6>
                <a href="/tin-tuc/18-12-2013/Cuoc-tinh-dam-dang-cua-Vo-Tac-Thien/64/210052/">
                    Cuộc tình “dâm đãng” của Võ Tắc Thiên</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/13-11-2013/Mot-loai-cocktail-rung-ron-duoc-ngam-tu-nhung-ngon-chan-nguoi/64/204412/" class="photo">
            <img width="120" height="90" alt="Một loại cocktail rùng rợn được ngâm từ những ngón chân người" src="http://media.docbao.vn/Assets/News/13112013/cocktail-chan-nguoi2.jpg"></a>
            <h6>
                <a href="/tin-tuc/13-11-2013/Mot-loai-cocktail-rung-ron-duoc-ngam-tu-nhung-ngon-chan-nguoi/64/204412/">
                    Một loại cocktail rùng rợn được ngâm từ những ngón chân người</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/03-10-2013/My-co-the-vo-no/64/198253/" class="photo">
            <img width="120" height="90" alt="Mỹ có thể “vỡ nợ”?" src="http://media.docbao.vn/Assets/News/03102013/chinh-phu-my-vo-no.jpg"></a>
            <h6>
                <a href="/tin-tuc/03-10-2013/My-co-the-vo-no/64/198253/">
                    Mỹ có thể “vỡ nợ”?</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/27-08-2013/Chong-qua-doi-vo-khong-duoc-tam-goi-3-nam/64/193307/" class="photo">
            <img width="120" height="90" alt="Chồng qua đời, vợ không được tắm gội 3 năm" src="http://media.docbao.vn/Assets/News/27082013/3-nam-khong-tam3.jpg"></a>
            <h6>
                <a href="/tin-tuc/27-08-2013/Chong-qua-doi-vo-khong-duoc-tam-goi-3-nam/64/193307/">
                    Chồng qua đời, vợ không được tắm gội 3 năm</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/21-08-2013/Su-that-bai-thuoc-giup-quy-ong-mot-dem-quan-he-6-lan/64/192470/" class="photo">
            <img width="120" height="90" alt="Sự thật bài thuốc giúp quý ông một đêm quan hệ 6 lần" src="http://media.docbao.vn/Assets/News/21082013/thuoc-tien123.jpg"></a>
            <h6>
                <a href="/tin-tuc/21-08-2013/Su-that-bai-thuoc-giup-quy-ong-mot-dem-quan-he-6-lan/64/192470/">
                    Sự thật bài thuốc giúp quý ông một đêm quan hệ 6 lần</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/13-08-2013/Su-that-khong-ngo-ve-nu-hoang-Cleopatra-Qua-bom-sex-xau-xi/64/191441/" class="photo">
            <img width="120" height="90" alt="Sự thật không ngờ về nữ hoàng Cleopatra: &quot;Quả bom sex&quot; xấu xí!" src="http://media.docbao.vn/Assets/News/13082013/Nu-hoang-Cleopatra6.jpg"></a>
            <h6>
                <a href="/tin-tuc/13-08-2013/Su-that-khong-ngo-ve-nu-hoang-Cleopatra-Qua-bom-sex-xau-xi/64/191441/">
                    Sự thật không ngờ về nữ hoàng Cleopatra: "Quả bom sex" xấu xí!</a></h6>
            <div class="clrb">
            </div>
        </li>

    </ul>

</div>