@(articles: List[Article])
<div class="right_box">
    <div class="hd">
        <h2><span>\</span> Bài đọc nhiều nhất</h2>
    </div>
    <div class="right_box_ct">
        <div class="news_lst">
            <ul>
                @articles.map { article =>
                <li>
                    @article.featureImage.map { img =>
                    <a href="@article.url" class="thumb">
                        <img width="100" height="100" alt="@article.title" src="@img">
                    </a>
                    }

                    <h3>
                        <a href="@article.url" target="_blank">@article.title</a>
                    </h3>

                    <div class="clrb"></div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>