<div class="news_you_care">
    <div class="hd">
        <h5><a href="/tin-tuc/video-clip/24/">Video nổi bật</a></h5>
    </div>

    <ul>

        <li><a href="/tin-tuc/18-12-2013/Cuoc-tinh-dam-dang-cua-Vo-Tac-Thien/64/210052/" class="photo">
            <img width="120" height="90" alt="Cuộc tình “dâm đãng” của Võ Tắc Thiên" src="http://media.docbao.vn/Assets/News/18122013/tac-thien.jpg"></a>
            <h6>
                <a href="/tin-tuc/18-12-2013/Cuoc-tinh-dam-dang-cua-Vo-Tac-Thien/64/210052/">
                    Cuộc tình “dâm đãng” của Võ Tắc Thiên</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/13-11-2013/Mot-loai-cocktail-rung-ron-duoc-ngam-tu-nhung-ngon-chan-nguoi/64/204412/" class="photo">
            <img width="120" height="90" alt="Một loại cocktail rùng rợn được ngâm từ những ngón chân người" src="http://media.docbao.vn/Assets/News/13112013/cocktail-chan-nguoi2.jpg"></a>
            <h6>
                <a href="/tin-tuc/13-11-2013/Mot-loai-cocktail-rung-ron-duoc-ngam-tu-nhung-ngon-chan-nguoi/64/204412/">
                    Một loại cocktail rùng rợn được ngâm từ những ngón chân người</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/03-10-2013/My-co-the-vo-no/64/198253/" class="photo">
            <img width="120" height="90" alt="Mỹ có thể “vỡ nợ”?" src="http://media.docbao.vn/Assets/News/03102013/chinh-phu-my-vo-no.jpg"></a>
            <h6>
                <a href="/tin-tuc/03-10-2013/My-co-the-vo-no/64/198253/">
                    Mỹ có thể “vỡ nợ”?</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/27-08-2013/Chong-qua-doi-vo-khong-duoc-tam-goi-3-nam/64/193307/" class="photo">
            <img width="120" height="90" alt="Chồng qua đời, vợ không được tắm gội 3 năm" src="http://media.docbao.vn/Assets/News/27082013/3-nam-khong-tam3.jpg"></a>
            <h6>
                <a href="/tin-tuc/27-08-2013/Chong-qua-doi-vo-khong-duoc-tam-goi-3-nam/64/193307/">
                    Chồng qua đời, vợ không được tắm gội 3 năm</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/21-08-2013/Su-that-bai-thuoc-giup-quy-ong-mot-dem-quan-he-6-lan/64/192470/" class="photo">
            <img width="120" height="90" alt="Sự thật bài thuốc giúp quý ông một đêm quan hệ 6 lần" src="http://media.docbao.vn/Assets/News/21082013/thuoc-tien123.jpg"></a>
            <h6>
                <a href="/tin-tuc/21-08-2013/Su-that-bai-thuoc-giup-quy-ong-mot-dem-quan-he-6-lan/64/192470/">
                    Sự thật bài thuốc giúp quý ông một đêm quan hệ 6 lần</a></h6>
            <div class="clrb">
            </div>
        </li>

        <li><a href="/tin-tuc/13-08-2013/Su-that-khong-ngo-ve-nu-hoang-Cleopatra-Qua-bom-sex-xau-xi/64/191441/" class="photo">
            <img width="120" height="90" alt="Sự thật không ngờ về nữ hoàng Cleopatra: &quot;Quả bom sex&quot; xấu xí!" src="http://media.docbao.vn/Assets/News/13082013/Nu-hoang-Cleopatra6.jpg"></a>
            <h6>
                <a href="/tin-tuc/13-08-2013/Su-that-khong-ngo-ve-nu-hoang-Cleopatra-Qua-bom-sex-xau-xi/64/191441/">
                    Sự thật không ngờ về nữ hoàng Cleopatra: "Quả bom sex" xấu xí!</a></h6>
            <div class="clrb">
            </div>
        </li>

    </ul>
</div>

<div class="news_box_r">
    <div class="hd">
        <a id="news-box-r-tabs-1" href="javascript:void(0);" class="on">Đọc nhiều</a>

    </div>
    <div id="news-box-r-ct-1" class="main">
        <ul>

            <li><a href="/tin-tuc/19-01-2014/Chelsea-31-Man-Utd-Bao-den-gam-vang-dem-kinh-dien/25/215513/">
                Chelsea 3-1 Man Utd: "Báo đen" gầm vang đêm "kinh điển"</a></li>

            <li><a href="/tin-tuc/27-01-2014/Grammy-2014--Random-Access-Memories-gianh-Album-cua-nam/31/216758/">
                Grammy 2014:  "Random Access Memories" giành Album của năm</a></li>

            <li><a href="/tin-tuc/20-01-2014/Hai-bao-mau-hanh-ha-tre-em-lanh-3-nam-tu-giam/33/215535/">
                Hai bảo mẫu hành hạ trẻ em lãnh 3 năm tù giam</a></li>

            <li><a href="/tin-tuc/27-01-2014/Huyen-Nhu-nhan-an-chung-than-buoc-boi-thuong-4000-ty/33/216783/">
                Huyền Như nhận án chung thân, buộc bồi thường 4.000 tỷ</a></li>

            <li><a href="/tin-tuc/24-01-2014/Doi-tien-le-chua-bao-gio-kho-nhu-nam-nay/30/216339/">
                Đổi tiền lẻ, chưa bao giờ khổ như năm nay</a></li>

            <li><a href="/tin-tuc/27-01-2014/Mai-do-Trung-Quoc-gia-re-lan-at-mai-noi/30/216747/">
                Mai đỏ Trung Quốc giá rẻ lấn át mai nội</a></li>

            <li><a href="/tin-tuc/26-01-2014/Baggio-bat-khoc-sau-khi-quy-goi-trao-nhan-cho-vo-hot-girl/31/216716/">
                Baggio bật khóc sau khi quỳ gối trao nhẫn cho vợ hot girl</a></li>

            <li><a href="/tin-tuc/22-01-2014/Angelababy-muon-sinh-con-cho-Huynh-Hieu-Minh/20/216059/">
                Angelababy muốn sinh con cho Huỳnh Hiểu Minh</a></li>

            <li><a href="/tin-tuc/27-01-2014/Con-trai-Thanh-Long-chi-tien-ti-to-chuc-dai-tiec-sinh-nhat-cho-bo/20/216884/">
                Con trai Thành Long chi tiền tỉ tổ chức đại tiệc sinh nhật cho bố</a></li>

            <li><a href="/tin-tuc/20-01-2014/Ha-Noi-Chay-lon-tai-kho-hang-rong-hang-ngan-m2/29/215620/">
                Hà Nội: Cháy lớn tại kho hàng rộng hàng ngàn m2</a></li>

        </ul>
    </div>

</div>