@(data: TopMenuDto, topBlogs: List[Blog])

@if(data.currentCat != "thoi_trang" && data.currentCat != "am_thuc" && data.currentCat != "radio" && data.currentCat != "phim_anh" && data.currentCat != "vlog" ) {
<div class="box">
    <div class="box-header">
        <h3>
            <a href="#">Top WP theme miễn phí trong tuần</a>
        </h3>
    </div>
    <div class="box-content">
        <ul class="bxslider">
            <li>
                <a href="http://www.enginethemes.com/themes/oneengine" target="_blank" title="One Page WordPress Free Theme">
                    <img src="/assets/ads/theme/desktop_oe_1.jpg" alt="Free word press theme" width="300px"/>
                </a>
            </li>
            <li>
                <a href="http://www.enginethemes.com/themes/oneengine" target="_blank" title="One Page WordPress Free Theme">
                    <img src="/assets/ads/theme/desktop_oe_2.jpg" alt="Free word press theme" width="300px"/>
                </a>
            </li>
            <li>
                <a href="http://www.enginethemes.com/themes/oneengine" target="_blank" title="One Page WordPress Free Theme">
                    <img src="/assets/ads/theme/desktop_oe_3.jpg" alt="Free word press theme" width="300px"/>
                </a>
            </li>
            <li>
                <a href="http://www.enginethemes.com/themes/oneengine" target="_blank" title="One Page WordPress Free Theme">
                    <img src="/assets/ads/theme/desktop_oe_4.jpg" alt="Free word press theme" width="300px"/>
                </a>
            </li>
        </ul>
    </div>
</div>
} else {
<div class="box">
    <div class="box-header">
        <h3>
            <a href="#">Hàng mới về</a>
        </h3>
    </div>
    <div class="box-content">
        <ul class="bxslider">
            <li>
                <a href="http://sileaothun.com/san-pham/71/ao-thun-cap-doi/337/st-575gy-sml" target="_blank" title="Áo Thun Cặp Đôi">
                    <img src="http://sileaothun.com/upload/san-pham/st575gy.jpg" alt="Áo Thun Cặp Đôi" width="300px" height="400px"/>
                </a>
            </li>
            <li>
                <a href="http://sileaothun.com/san-pham/71/ao-thun-cap-doi/157/st-522bk-sml" target="_blank" title="Áo Thun Cặp Đôi">
                    <img src="http://sileaothun.com/upload/san-pham/st522bk.jpg" alt="Áo Thun Cặp Đôi" width="300px" height="400px"/>
                </a>
            </li>
            <li>
                <a href="http://sileaothun.com/san-pham/3/ao-thun-nu/296/st-570r-sm-#main" target="_blank" title="Áo Thun Nữ">
                    <img src="http://sileaothun.com/upload/san-pham/ST570R.jpg" alt="Áo Thun Nữ" width="300px" height="400px"/>
                </a>
            </li>
            <li>
                <a href="http://sileaothun.com/san-pham/3/ao-thun-nu/248/st-566-sm-#main" target="_blank" title="Áo Thun Nữ">
                    <img src="http://sileaothun.com/upload/san-pham/ST566.jpg" alt="Áo Thun Nữ" width="300px" height="400px"/>
                </a>
            </li>
            <li>
                <a href="http://sileaothun.com/san-pham/3/ao-thun-nu/291/st-567gy-sm#main" target="_blank" title="Áo Thun Nữ">
                    <img src="http://sileaothun.com/upload/san-pham/st567Gy.jpg" alt="Áo Thun Nữ" width="300px" height="400px"/>
                </a>
            </li>
            <li>
                <a href="http://sileaothun.com/san-pham/3/ao-thun-nu/69/st-563-r-sm#main" target="_blank" title="Áo Thun Nữ">
                    <img src="http://sileaothun.com/upload/san-pham/COTRON02.jpg" alt="Áo Thun Nữ" width="300px" height="400px"/>
                </a>
            </li>
            <li>
                <a href="http://sileaothun.com/san-pham/3/ao-thun-nu/297/st-570gy-sm-#main" target="_blank" title="Áo Thun Nữ">
                    <img src="http://sileaothun.com/upload/san-pham/ST570GY.jpg" alt="Áo Thun Nữ" width="300px" height="400px"/>
                </a>
            </li>
            <li>
                <a href="http://sileaothun.com/san-pham/3/ao-thun-nu/271/st-538ro-sm#main" target="_blank" title="Áo Thun Nữ">
                    <img src="http://sileaothun.com/upload/san-pham/st538ro.jpg" alt="Áo Thun Nữ" width="300px" height="400px"/>
                </a>
            </li>
        </ul>
    </div>
</div>
}

@data.getCurrentCat.map{ cat =>
<div class="box">
    <div class="box-header">
        <h3>
            <a href="/cat/@cat.shortName">Các blog cùng thể loại</a>
        </h3>
    </div>
    <div class="box-content">
        <ul>
            @cat.blogs.map { blog =>
            <li>
                <a href="/blog/@blog.uniqueName" title="@blog.name">
                    <img src="/blog/favicon/@blog.id" alt="@blog.name"/>
                    <span class="title">@blog.name</span> - <span class="meta">@blog.read lượt xem</span>
                </a>
            </li>
            }
        </ul>
    </div>
</div>
}


<div class="box">
    <div class="box-header">
        <h3>
            <a href="#">Top blog nên đọc</a>
        </h3>
    </div>
    <div class="box-content">
        <ul>
            @topBlogs.map { blog =>
            <li>
                <a href="/blog/@blog.uniqueName" title="@blog.name">
                    <img src="/blog/favicon/@blog.id" alt="@blog.name"/>
                    <span class="title">@blog.name</span> - <span class="meta">@blog.read lượt xem</span>
                </a>
            </li>
            }
        </ul>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3>
            <a href="#">Sponsor</a>
        </h3>
    </div>
    <div class="box-content">
        <ul>
            <li>
                <a href="http://thachpham.com" target="_blank" title="Chuyên trang chia sẻ các kiến thức liên quan đến WordPress và Viết blog - thachpham.com">
                    <img src="https://www.google.com/s2/favicons?domain=http://thachpham.com&alt=feed" alt="ListenToMe"/>
                    <span class="title">thachpham.com</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3>
            <a href="#">Website liên kết</a>
        </h3>
    </div>
    <div class="box-content">
        <ul>
            <li>
                <a href="http://listentome.vn" target="_blank" title="Trò chơi thực hành tiếng Anh online - ListenToMe.vn">
                    <img src="https://www.google.com/s2/favicons?domain=http://listentome.vn&alt=feed" alt="ListenToMe"/>
                    <span class="title">listentome.vn</span> - <span class="meta">luyện nghe tiếng anh</span>
                </a>
            </li>
            <li>
                <a href="http://bloggeraz.net" target="_blank" title="Thủ Thuật Wordpress">
                    <img src="https://www.google.com/s2/favicons?domain=http://bloggeraz.net&alt=feed" alt="bloggeraz"/>
                    <span class="title">bloggeraz.net</span> - <span class="meta">Thủ Thuật Wordpress</span>
                </a>
            </li>
            <li>
                <a href="http://phamtu.com" target="_blank" title="Blog thủ thuật Công nghệ và thiết kế Web">
                    <img src="https://www.google.com/s2/favicons?domain=http://phamtu.com&alt=feed" alt="phamtu.com"/>
                    <span class="title">Blog thủ thuật Công nghệ và thiết kế Web</span>
                </a>
            </li>
            <li>
                <a href="http://ebooksvn.com" target="_blank" title="Tổng hợp về Wordpress và kiếm tiền online">
                    <img src="https://www.google.com/s2/favicons?domain=http://ebooksvn.com&alt=feed" alt="ebooksvn.com"/>
                    <span class="title">Tổng hợp về Wordpress và kiếm tiền online</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<br/>

@facebookLikeBox()
<br/>
<br/>
<div class="box">
    <a href="http://info.flagcounter.com/Z9Kq" target="_blank">
        <img src="http://s01.flagcounter.com/count/Z9Kq/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_21/viewers_0/labels_1/pageviews_1/flags_0/"
             alt="Flag Counter" border="0">
    </a>
</div>
