@(data: TopMenuDto)

@data.categories.map{ cat =>
<div class="box">
    <div class="box-header">
        <h3>
            <a href="/cat/@cat.shortName">@cat.name</a>
        </h3>
    </div>
    <div class="box-content">
        <ul>
            @cat.blogs.map { blog =>
            <li>
                <a href="/blog/@blog.uniqueName" title="@blog.name">
                    <img src="/blog/favicon/@blog.id" alt="@blog.name"/>
                    <span class="title">@blog.name</span> - <span class="meta">@blog.read lượt xem</span>
                </a>
            </li>
            }
        </ul>
    </div>
</div>
}
<br/>

<div class="box">
    <div class="box-header">
        <h3>
            <a href="#">Website liên kết</a>
        </h3>
    </div>
    <div class="box-content">
        <ul>
            <li>
                <a href="http://listentome.vn" target="_blank" title="Trò chơi thực hành tiếng Anh online - ListenToMe.vn">
                    <img src="https://www.google.com/s2/favicons?domain=http://listentome.vn&alt=feed" alt="ListenToMe"/>
                    <span class="title">listentome.vn</span>- <span class="meta">luyện nghe tiếng anh</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<br/>
@facebookLikeBox()

<br/>

@googleAds()

<br/>
<div class="box">
    <a href="http://info.flagcounter.com/Z9Kq" target="_blank">
        <img src="http://s01.flagcounter.com/count/Z9Kq/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_21/viewers_0/labels_1/pageviews_1/flags_0/"
             alt="Flag Counter" border="0">
    </a>
</div>
