@(article: Article)
@import formater._
<div class="small-article">
    <div class="col-md-3">
        @article.featureImage.map { img =>
        <a href="/r/@article.blogName/@article.uniqueTitle">
            <img class="img" src="@img" alt="@article.title"/>
        </a>
        }
    </div>
    <div class="col-md-9">
        <h2 class="title"><a href="/r/@article.blogName/@article.uniqueTitle">@article.title</a></h2>
        <div class="meta">
            <span class="source">
                @article.blog.map { _blog =>
                <a href="/blog/@_blog.uniqueName" class="blog-name">@_blog.name</a>
                }
                - <span class="time">@DateTimeFormat.prettyDate(article.publishedDate)</span>
                @if(article.clicked > 0) {
                - <span class="views">@article.clicked lượt xem</span>
                }
            </span>
        </div>
        <p>@article.shortDescription(200)</p>
        @if(!article.tagList.isEmpty) {
        <p class="keywords">
            Từ khóa:
            @article.tagList.map { tag =>
            <a href='/tag/@tag.replaceAll(" ", "_")' rel="tag">@tag,</a>
            }
        </p>
        }
        <p>@facebookLikeBtn(article.url)</p>
    </div>
    <div class="clearfix"></div>
</div>