<div id="header">
    <div class="logo" id="top">
        <a href="http://www.baomoi.com">
            <img width="147" height="35"
                 alt="Báo Mới - Tổng hợp thông tin tự động"
                 src="http://www.baomoi.com//App_Themes/Default/Images/baomoi_logo.gif">
        </a>
    </div>

    <div class="userlinks">
        <span><a rel="nofollow" href="/Members/Login.aspx">Đăng nhập</a></span>
        <span><a rel="nofollow" href="/Members/Register.aspx">Đăng ký</a></span>
    </div>
</div>