@(data: TopMenuDto)

<div id="baomoi_navigation">
    <div class="wrap-navi">
        <ul id="navigation">
            <li id="home" class='@if("home" == data.currentCat) {current}'>
                <span><a href="/"><i class="fa fa-home"></i></a></span>
            </li>
            @data.categories.map{ cat =>
            <li class='parent @if(cat.shortName == data.currentCat) {current}'>
                <span><a href="/cat/@cat.shortName">@cat.name</a></span>
                <ul class="subcat">
                    @cat.blogs.map { blog =>
                    <li>
                        <a href="/blog/@blog.uniqueName">
                            <img src="https://www.google.com/s2/favicons?domain=@blog.url&alt=feed" alt="@blog.name"/>
                            @blog.name
                        </a>
                    </li>
                    }
                </ul>
            </li>
            }
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#navigation").find(".parent").on("mouseover", function () {
            $(this).find(".subcat").show();
        });

        $("#navigation").find(".parent").on("mouseout", function () {
            $(this).find(".subcat").hide();
        });
    })
</script>