<div class="nav-bar">
    <ul>
        <li class="on">
            <a href="/" class="home"><i></i></a></li>
        <!--
            <li>
                <a href="/tin-tuc/tin-tuc-hom-nay/1/">hôm nay</a><span class="bd_r"></span></li>-->

        <li>
            <a href="/tin-tuc/radio-tan-man/2/">Radio tản mạn</a><span class="bd_r"></span></li>

        <li>
            <a href="/tin-tuc/fashion/4/">fashion</a><span class="bd_r"></span>
            <ul class="submenu">
                <li><a href="/tin-tuc/tu-van/13/">tư vấn</a></li>
                <li><a href="/tin-tuc/update-xu-huong/14/">update xu hướng</a></li>
                <li><a href="/tin-tuc/dep-tung-phong-cach/15/">đẹp từng phong cách</a></li>
                <li><a href="/tin-tuc/tuan-le-thoi-trang/16/">tuần lễ thời trang</a></li>
                <li><a href="/tin-tuc/phu-kien/17/">phụ kiện</a></li>
                <li><a href="/tin-tuc/thoi-trang-cuoi/67/">thời trang cưới</a></li>
                <li><a href="/tin-tuc/fashion-icon/18/">fashion-icon</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/lam-dep/6/">làm đẹp</a><span class="bd_r"></span>
            <ul class="submenu">
                <li><a href="/tin-tuc/khoe-va-dep/24/">khỏe &amp; đẹp</a></li>
                <li><a href="/tin-tuc/trang-diem-va-duong-da/25/">trang điểm &amp; dưỡng da</a></li>
                <li><a href="/tin-tuc/toc-dep/26/">tóc đẹp</a></li>
                <li><a href="/tin-tuc/nail-va-spa/68/">nail &amp; spa</a></li>
                <li><a href="/tin-tuc/my-pham/164/">mỹ phẩm</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/sao/5/">sao</a><span class="bd_r"></span>
            <ul class="submenu">
                <!--<li><a href="/tin-tuc/sao-hollywood/19/">sao Hollywood</a></li>
                <li><a href="/tin-tuc/sao-chau-a/20/">sao châu á</a></li>
                <li><a href="/tin-tuc/sao-viet/22/">sao việt</a></li>
                <li><a href="/tin-tuc/doi-thoai/23/">đối thoại</a></li>-->
                <li><a href="/tin-tuc/ngay-ay-bay-gio/87/">ngày ấy- Bây giờ</a></li>
                <li><a href="/tin-tuc/chuyen-dong-cung-sao/88/">chuyển động cùng sao</a></li>
                <li><a href="/tin-tuc/sao-online/89/">sao online</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/goc-chi-em/61/">góc chị em</a><span class="bd_r"></span>
            <ul class="submenu">
                <li><a href="/tin-tuc/song/65/">sống</a></li>
                <li><a href="/tin-tuc/yeu-va-cuoi/62/">yêu &amp; cưới</a></li>
                <li><a href="/tin-tuc/chuyen-nha-minh/63/">chuyện nhà mình</a></li>
                <li><a href="/tin-tuc/goc-khuat/64/">góc khuất</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/am-thuc-kheo-tay/10/">ẩm thực</a><span class="bd_r"></span>
            <ul class="submenu">
                <li><a href="/tin-tuc/meo-vat/36/">mẹo vặt</a></li>
                <li><a href="/tin-tuc/vao-bep/37/">vào bếp</a></li>
                <li><a href="/tin-tuc/quan-ngon/38/">quán ngon</a></li>
                <li><a href="/tin-tuc/van-hoa-am-thuc/81/">văn hóa ẩm thực</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/giai-tri/11">giải trí</a><span class="bd_r"></span>
            <ul class="submenu">
                <!--<li><a href="/tin-tuc/phim-anh/39/">phim ảnh</a></li>
                <li><a href="/tin-tuc/am-nhac/71/">âm nhạc</a></li>
                <li><a href="/tin-tuc/truyen-hinh/41/">truyền hình</a></li>
                <li><a href="/tin-tuc/tu-vi-hang-ngay/40/">tử vi hàng ngày</a></li>
                <li><a href="/tin-tuc/goc-qua-tang/66/">góc quà tặng</a></li>-->
                <li><a href="/tin-tuc/khoang-khac-cam-nhan/90/">khoảnh khắc- cảm nhận</a></li>
                <li><a href="/tin-tuc/phim-nhac-kich/91/">Phim- Nhạc - Kịch</a></li>
                <li><a href="/tin-tuc/truyen-hinh/41/">truyền hình</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/dan-ong/55/">đàn ông</a><span class="bd_r"></span>
            <ul class="submenu">
                <li><a href="/tin-tuc/bat-mach/57/">bắt mạch</a></li>
                <li><a href="/tin-tuc/phong-cach/58/">phong cách</a></li>
                <li><a href="/tin-tuc/su-nghiep/77/">sự nghiệp</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/sanh-dieu/9/">sành điệu</a><span class="bd_r"></span>
            <ul class="submenu">
                <li><a href="/tin-tuc/nha-dep/33/">nhà đẹp</a></li>
                <li><a href="/tin-tuc/xe-sanh/34/">xe sành</a></li>
                <li><a href="/tin-tuc/xu-huong/35/">xu hướng</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/23-do-5/72">23 Độ 5</a><span class="bd_r"></span>
            <!--<ul class="submenu">
                <li><a href="/tin-tuc/gioi-tinh/74/">giới tính</a></li>
                <li><a href="/tin-tuc/gia-dinh/75/">gia đình</a></li>
                <li><a href="/tin-tuc/me-va-be/76/">mẹ & bé</a></li>
            </ul>-->
            <ul class="submenu">
                <li><a href="/tin-tuc/mau-cuoc-song/92/">màu cuộc sống</a></li>
                <li><a href="/tin-tuc/xa-stress/93/">xả stress</a></li>
                <li><a href="/tin-tuc/tu-vi-hang-ngay/40/">tử vi hàng ngày</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/du-lich/8/">du lịch</a><span class="bd_r"></span>
            <ul class="submenu">
                <li><a href="/tin-tuc/diem-den/31/">điểm đến</a></li>
                <li><a href="/tin-tuc/guider/32/">guider</a></li>
                <li><a href="/tin-tuc/di-va-ngam/69/">đi &amp; ngẫm</a></li>
            </ul>
        </li>

        <li>
            <a href="/tin-tuc/dep/73/">đẹp +</a><span class="bd_r"></span>
            <ul class="submenu">
                <li><a href="/tin-tuc/song-dep/78/">sống đẹp</a></li>
                <li><a href="/tin-tuc/khoang-khac/79/">khoảnh khắc</a></li>
                <li><a href="/tin-tuc/quan-diem-depplus/80/">quan điểm đẹp +</a></li>
                <li><a href="/tin-tuc/doi-thoai/23/">đối thoại</a></li>
            </ul>
        </li>


    </ul>
    <div class="clrb">
    </div>
</div>