@(data: TopMenuDto)

<div id="baomoi_navigation">
    <div class="wrap-navi">
        <ul id="navigation">
            <li id="home" class='@if("home" == data.currentCat) {current}'>
                <span><a href="/">Trang chủ</a></span>
            </li>
            @data.categories.map{ cat =>
            <li class='@if(cat.shortName == data.currentCat) {current}'>
                <span><a href="/cat/@cat.shortName">@cat.name</a></span>
            </li>
            }
        </ul>
    </div>
</div>