@(loginForm: Form[(String, String)])

@import partials._
@import helper._
@import views.html.bootstrapform._
@implicitFieldConstructor = @{FieldConstructor(bootstrapform.input.f)}

<!DOCTYPE html>
<html>
<head>
    @header("Please login", "Please login")
    <link rel="stylesheet" media="screen" href="/assets/css/login.min.css">
</head>
<body>

<div class="container">

    <form class="form-signin" action="/user/auth" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <div class='form-group @if(loginForm.error("email").isDefined) {has-error}'>
            <label class="control-label" for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" value='@loginForm("email").value' autofocus>
            @if(loginForm.error("email").isDefined) {
            <p class="help-block">@Messages(loginForm.error("email").get.message)</p>
            }
        </div>
        <div class='form-group @if(loginForm.error("password").isDefined) {has-error}'>
            <label class="control-label" for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password">
            @if(loginForm.error("password").isDefined) {
            <p class="help-block">@Messages(loginForm.error("password").get.message)</p>
            }
        </div>
        <!--<label class="checkbox">-->
        <!--<input type="checkbox" value="remember-me"> Remember me-->
        <!--</label>-->
        @loginForm.globalError.map { error =>
        <div class="form-group has-error">
            <p class="help-block">
                @Messages(error.message)
            </p>
        </div>
        }
        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit">Login</button>
        </div>
    </form>

</div>

</body>
</html>