@(registerForm: Form[(String, Option[String], String, String)])

@import partials._
@import helper._
@import views.html.bootstrapform._
@implicitFieldConstructor = @{FieldConstructor(bootstrapform.filedContructor.f)}

<!DOCTYPE html>
<html>
<head>
    @header("Please login", "Please login")
    <link rel="stylesheet" media="screen" href="/assets/css/login.min.css">
</head>
<body>

<div class="container">

    <form class="form-signin" action="/user/registerPost" method="post">
        <h2 class="form-signin-heading">Register</h2>

        <!--Email-->
        <div class='form-group @if(registerForm.error("email").isDefined) {has-error}'>
            <label class="control-label" for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" value='@registerForm("email").value' autofocus>
            @if(registerForm.error("email").isDefined) {
            <p class="help-block">@Messages(registerForm.error("email").get.message)</p>
            }
        </div>

        <!--Fullname-->
        <div class='form-group @if(registerForm.error("fullname").isDefined) {has-error}'>
            <label class="control-label" for="fullname">Fullname:</label>
            <input type="text" class="form-control" id="fullname" name="fullname" value='@registerForm("fullname").value'>
            @if(registerForm.error("fullname").isDefined) {
            <p class="help-block">@Messages(registerForm.error("fullname").get.message)</p>
            }
        </div>

        <!--Password-->
        <div class='form-group @if(registerForm.error("password").isDefined) {has-error}'>
            <label class="control-label" for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password">
            @if(registerForm.error("password").isDefined) {
            <p class="help-block">@Messages(registerForm.error("password").get.message)</p>
            }
        </div>

        <!--Repassword-->
        <div class='form-group @if(registerForm.error("rePassword").isDefined) {has-error}'>
            <label class="control-label" for="rePassword">Re Password:</label>
            <input type="rePassword" class="form-control" name="rePassword" id="rePassword">
            @if(registerForm.error("rePassword").isDefined) {
            <p class="help-block">@Messages(registerForm.error("rePassword").get.message)</p>
            }
        </div>

        @registerForm.globalError.map { error =>
        <div class="form-group has-error">
            <p class="help-block">
                @Messages(error.message)
            </p>
        </div>
        }
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-link" href="/user/login">Cancel</a>
        </div>
    </form>

</div>

</body>
</html>