@(editForm : Form[Blog], categories: List[(String, String)])
@import helper._
@import views.html.bootstrapform._
@implicitFieldConstructor = @{FieldConstructor(bootstrapform.filedContructor2.f)}

<div>
    <h3>Edit Blog</h3>
</div>

<hr/>
<div class="col-md-5">
    <form action="/admin/blog/update" method="post" class="form-horizontal" role="form">
        @inputText(editForm("_id"), 'class -> "form-control", 'hidden -> true)
        @inputText(editForm("name"), 'class -> "form-control input-sm", '_label -> Messages("lbl.name"))
        @inputText(editForm("url"), 'class -> "form-control input-sm", '_label -> Messages("lbl.url"))
        @inputText(editForm("rssUrl"), 'class -> "form-control input-sm", '_label -> Messages("lbl.rssUrl"))
        @select(editForm("status"), BlogStatus.asSelectValue ,'class -> "form-control", '_label -> Messages("lbl.status"))
        @inputText(editForm("description"), 'class -> "form-control input-sm", '_label -> Messages("lbl.description"))
        @checkbox(editForm("isEnable"), 'class -> "checkbox", '_label -> Messages("lbl.isEnable"))
        @select(editForm("categoryId"), categories ,'class -> "form-control", '_label -> Messages("lbl.category"))
        @inputText(editForm("domain"), 'class -> "form-control input-sm", '_label -> Messages("lbl.domain"))
        @inputText(editForm("read"), 'class -> "form-control input-sm", '_label -> Messages("lbl.read"))
        @inputText(editForm("lastUpdated"), 'class -> "form-control input-sm", '_label -> Messages("lbl.lastUpdated"))

        @formGlobalError(editForm)

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="btn btn-primary">@Messages("btn.submit")</button>
                <a href="/admin/blog" class="btn btn-default">@Messages("btn.cancel")</a>
            </div>
        </div>
    </form>
</div>