@(content: Html, title: String, description: String, _topMenu: Html, _footer: Html, _rightSideBar: Html)

@import views.html.partials._

<!DOCTYPE html>
<html>
<head>
    @header(title, description)
</head>

<body>

<div id="top-menu" class="menuwrapper">
    <div class="container">
        @_topMenu
    </div>
</div>

<div class="container">
    <div id="page-container">
        <div class="container">
            <div id="page-content">@content</div>
            <div id="right-side-bar">@_rightSideBar</div>
        </div>
        <div id="footer">@_footer</div>
    </div>
</div>

</body>

</html>