@(content: Html, title: String, description: String, _topMenu: Html, _footer: Html)

@import views.html.partials._

<!DOCTYPE html>
<html>
<head>
    @header(title, description)
</head>

<body>

<div id="top-banner">
    <div class="container">@topbanner()</div>
</div>

<div id="top-menu">
    <div class="container">@_topMenu</div>
</div>

<div id="page-container">
    <div class="container">
        @content
    </div>
</div>

<div id="footer">
    @_footer
</div>

<div id="scrolltotop" style=""><a href="#"><i class="fa fa-chevron-up"></i><br>Top</a></div>
</body>

</html>