@(content: Html, title: String, description: String, _topMenu: Html, _footer: Html, _rightSideBar: Html)

@import views.html.partials._

<!DOCTYPE html>
<html>
<head>
    @header(title, description)
</head>

<body>

<div id="top-banner">
    <div class="container">
        dung ne
    </div>
</div>
<nav class="navigation pkg">@_topMenu</nav>
<div id="page-container">
    <div class="container">@content</div>
</div>

<footer class="footer">
    <div class="container">
        @_footer
    </div>
</footer>

</body>

</html>