@(articles: List[Article], totalPage: Int, sortMode: String)

@import partials.smallarticle
@import partials.newsFilter
@import partials.facebookLikeBox

<div class="row">
    @newsFilter(sortMode)
    <div id="article-container">
        @articles.map { article =>
            @smallarticle(article)
        }
    </div>
</div>

<div class="navigation">
    @for(i <- 1l to totalPage) {
    <a href="?sort=@sortMode&page=@i">@i</a>
    }
</div>

<script type="text/javascript">
    $(function () {
        $('#article-container').infinitescroll({
            navSelector: '.navigation',
            nextSelector: ".navigation a:first",
            itemSelector: "#article-container div.small-article"
        });
    });
</script>