@import views.html.partials.comment

<h2 class="page-header">Trao đổi liên kết với HayHayBlog</h2>
<div id="article-container">
    <p><b>Chào các bạn,</b></p>
    <p>
        Mình tên là Nguyễn Đức Dũng, mình là tác giả của hayhayblog.com, mình là nguời rất thích đọc blog.
        Với mong muốn để xây dựng cộng đồng blog ngày một càng mạnh mẽ và bền vững hơn, hayhayblog
        mong muốn được trao đổi liên kết với những <b>website không có mục đích thương mại khác</b>.
    </p>
    <img src="http://static.thepioneerwoman.com/homeschooling/files/2011/02/community-question.jpg" alt="blog hay"/>
    <br/>
    <br/>
    <p>
        Hãy email cho mình hoặc comment ở dưới đây nếu bạn muốn trao đổi liên kết nhé: <a href="mailto:dungvn3000@@gmail.com">dungvn3000@@gmail.com</a>
    </p>
    <p><b>Cám ơn và hy vọng các bạn xẽ thích hayhayblog.</b></p>

    @comment()
</div>