@(editForm : Form[Category])
@import helper._
@import views.html.bootstrapform._
@implicitFieldConstructor = @{FieldConstructor(bootstrapform.filedContructor2.f)}

<div>
    <h3>Edit Category</h3>
</div>

<hr/>
<div class="col-md-5">
    <form action="/admin/category/update" method="post" class="form-horizontal" role="form">
        @inputText(editForm("_id"), 'class -> "form-control", 'hidden -> true)
        @inputText(editForm("name"), 'class -> "form-control input-sm", '_label -> Messages("lbl.name"))
        @inputText(editForm("shortName"), 'class -> "form-control input-sm", '_label -> Messages("lbl.shortName"))

        @formGlobalError(editForm)

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="btn btn-primary">@Messages("btn.submit")</button>
                <a href="/admin/category" class="btn btn-default">@Messages("btn.cancel")</a>
            </div>
        </div>
    </form>
</div>