.wrap-footbar {
  background: #0099cb;
  text-align: center;
  height: 35px;
  text-align: center;
}

.wrap-footer {
  background: #e1eaed;
  text-align: center;
  height: 40px;
  p {
    font-size: 1.1em;
    color: #666;
    padding-top: 10px;
  }
}

.backtop {
  float: right;
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 7px;
  a {
    color: #fff !important;
    text-decoration: none;
  }
}