#footer {

  .info {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 15px;
    color: #a1a1a1;

    p {
      margin: 0;
      font-weight: 300;
    }

    a {
      color: #a1a1a1;
      text-decoration: none;
    }
  }

}