@import "navbar";
@import "sidebar";
@import "content";
@import "footer";
@import "scrolltotop";

@bodyBackGround: #fff;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  line-height: 20px;
  color: #333;
  background: @bodyBackGround;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
}

.container {
//  width: 1020px;
  padding: 0;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a img {
  border: 0;
}

a {
  text-decoration: none !important;
}

a:link, a:visited {
  color: #133f6a;
}
a:link, a:visited {
  color: #133f6a;
}

.zocial {
  color: #fff !important;
}

.page-header {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

#content {
  .col-md-6 {
    padding-left: 0;
  }
}