@import "top-menu";
@import "page-container";
@import "footer";

@bodyBackGround: #F8F8F5;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  line-height: 20px;
  color: #333;
  background: @bodyBackGround;
  margin: 0 auto;
  font: 500 12px/18px Arial;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 1020px;
  padding: 0;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a img {
  border: 0;
}

.pkg:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  margin: 0;
}

.fl-left {
  float: left;
}