@import "topMenu";
@import "page-content";
@import "rightsidebar";
@import "footer";
@bodyBackGround: #efefef;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  line-height: 20px;
  color: #333;
  background: @bodyBackGround;
  margin: 0 auto;
  font: 500 12px/18px Arial;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 1014px;
  padding: 0;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a img {
  border: 0;
}

.catsep, .contentsep {
  border: solid 1px #f1ad1e;
  background-color: #fbc701;
}

.contentsep {
  width: 978px;
  height: 4px;
  margin: auto;
}

body, table, div, form, ul, li, tr, td, a, span, p, h1, h2, h3 {
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
}