.navbar-nav > li > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.navbar {
  height: 40px !important;
  min-height: 40px !important;
  a {
    font-weight: bold;
  }
}

.navbar-brand {
  padding: 10px;
}