#page-content {

  padding-right: 0;

  .left_box_2col {
    width: 680px;
    overflow: hidden;

    .new_col {
      width: 330px;
      float: left;
      margin-right: 10px;
    }

    .left_box {
      margin-bottom: 18px;
    }

    .hd {
      position: relative;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      //      background: url('../img/bgr_left_box.png') repeat 0 0 transparent;
      h1 {
        margin: 3px 0;
        font-family: 'Open Sans';
        font-size: 30px;
        font-weight: 800;
        float: left;
        margin-right: 10px;
      }

      h1 span {
        color: red;
      }

      .btn_viewmore {
        position: absolute;
        top: 16px;
        right: 0;
        color: #000;
        font-size: 14px;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }

    .news_big {
      width: 330px;
      overflow: hidden;
      position: relative;
      margin-right: 1px;
      margin-bottom: 12px;

      img {
        width: 330px;
        height: 170px;
      }

      a:hover h2 {
        color: red;
      }

      a h2 {
        //        display: inline-block;
        //        background: url('../img/bgr_trans_80.png') repeat 0 0 transparent;
        font-size: 19px;
        color: #000;
        width: 290px;
        //        position: absolute;
        //        bottom: 9px;
        //        left: 10px;
        //        padding: 11px 10px 13px 10px;
        padding: 11px 10px 13px 0;
        margin: 0;
        font-weight: bold;
      }

    }

    ul li {
      border-top: 1px dotted #ccc;
      padding-top: 10px;
      margin-bottom: 8px;

      a {
        font-size: 16px;
        color: #000;
        text-decoration: none;
      }

      a:hover {
        color: red;
      }
    }
  }

  .list_cate {
    li {
      margin-bottom: 30px;
    }

    li .thumb {
      float: left;
      width: 220px;
      overflow: hidden;
    }

    li .thumb img {
      display: block;
      width: 200px;
      height: 140px;;
    }

    li .text {
      float: left;
      width: 450px;
    }
    li .text h2 {
      margin: 0;
      font-weight: normal;
      margin-bottom: 14px;
    }
    li .thumb:hover img {
      opacity: 0.9;
    }
    li .text .time {
      font-size: 12px;
      color: #ccc;
      margin-bottom: 12px;
    }

    li .text h2 a:hover {
      color: red;
    }
    li .text h2 a {
      font-size: 20px;
      color: #000;
    }
  }

  .paging {
    text-align: right;
    border-top: 1px solid #e6e6e6;
    padding-top: 25px;
    margin-bottom: 25px;

    a, span {
      display: inline-block;
      font-size: 19px;
      color: #ccc;
      border: 1px solid #ccc;
      padding: 6px 14px 6px 14px;
      margin-left: 1px;
    }
    .on {
      color: red;
      border: 1px solid red;
    }
  }
}