#page-container {
  margin: 20px 0;
  .col-md-3 {
    padding: 0;
  }
}

.box {
  .box-header {
    border-top: solid 2px #0099cb;
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
    h2 {
      font-size: 1.6em;
      margin: 0;
    }
    a {
      text-decoration: none;
    }
  }
  .box-content {
    padding-top: 20px;
  }

  .col-md-4:first-child {
    padding-left: 0;
  }

  .col-md-4:last-child {
    padding-right: 0;
  }
}

.article {
  padding: 0 0 30px 0;
  max-height: 135px;
  overflow: hidden;
  .img {
    padding: 0;
    img {
      width: 105px;
      height: 80px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px;
  }
}

.big-article {
  .img img {
    width: 210px;
    height: 149px;
  }

  .title {
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    padding: 10px 0;
  }
}

.hot-article {
  padding-left: 0;
  padding-bottom: 20px;
  .title {
    font-weight: bold;
    font-size: 14px;
  }
  img {
    width: 145px;
    height: 108px;
  }
}

.small-article {
  height: 166px;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  border-bottom: solid 1px #efefef;
  .col-md-3 {
    padding-left: 0;
  }
  .col-md-9 {
    padding: 0 30px;
  }
  .title {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 20px;
  }
  img {
    width: 200px;
    height: 130px;
  }
}

.paging {
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  border-bottom: solid 1px #ccc;
}

.paging a {
  margin-right: 3px;
  display: inline-block;
  border: solid 1px #ddd;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  box-shadow: 0 1px 2px #ddd;
  background: -webkit-linear-gradient(bottom, #eee, #fff);
  background: -moz-linear-gradient(bottom, #eee, #fff);
  background: -ms-linear-gradient(bottom, #eee, #fff);
  text-shadow: 0 1px #fff;
}

.paging a.current {
  background: -webkit-linear-gradient(bottom, #9f0101, #c00);
  background: -moz-linear-gradient(bottom, #9f0101, #c00);
  background: -ms-linear-gradient(bottom, #9f0101, #c00);
  color: #fff;
  border: solid 1px #c00;
  text-shadow: 0 1px #333;
}

.keywords {
  color: #999;
  font-size: 12px;
  line-height: 1.2em;
  a {
    font-size: 11px;
    display: inline-block;
    margin-right: 5px;
    text-transform: lowercase;
  }
}

.more-stories {
  margin-bottom: 20px;
  .title {
    font-weight: bold;
    font-size: 20px;
  }
  a {
    font-size: 14px;
  }
  li {
    margin: 10px 0;
  }
}

.top-stories {
  background: #e1eaed;
  padding: 5px;
  margin-bottom: 14px;

  .title {
    margin: 5px 0 10px 5px;
    font-size: 18px;
    font-weight: bold;
  }

  .content {
    padding: 5px;
    background: #fff;
    li {
      border-bottom: solid 1px #efefef;
      margin: 10px 0;
    }
    .rank {
      float: left;
      width: 15%;
      font-size: 3em;
      font-weight: bold;
      color: #ccc;
      padding-top: 7px;
    }
    a {
      width: 85%;
      float: left;
    }
  }
}

.top-tags {
  .title {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    border-top: solid 2px #ccc;
    border-bottom: solid 1px #efefef;
  }
}