#page-container {
  overflow: visible !important;
  background: transparent url(../img/masterbg.gif) repeat-y;
  background-position: 0 0;
  float: left;
  padding: 20px 10px;
  #page-content {
    padding: 0;
    width: 68%;
    float: left;
  }

  a {
    text-decoration: none;
  }

  .homepage-box {
    width: 347px;
    border: 0 none;
    text-align: left;
    background: url(../img/masterbg.gif) repeat scroll -1048px 0 transparent;

    a:hover {
      color: #3a4276 !important;
      text-decoration: none;
    }

    h3 {
      padding: 0;
      margin: 0;
    }

    .content {
      width: 100%;
      background: url(../img/masterbg.gif);
      background-position: -1048px 0;
      float: left;
      clear: both;
      padding: 0 6px 10px 10px;
    }

    .boxnewscategory {
      text-align: center;
      padding: 0 0 10px;
      width: 100%;
    }

    .boxnewscategory .avatar {
      display: block;
      text-align: center;
    }
    .boxnewscategory .avatar img {
      width: 302px;
      height: 190px;
      border: solid 1px #cecece;
      padding: 5px;
    }

    .boxnewscategory .avatar .icon {
      top: 7px;
      left: 7px;
    }

    .boxnewscategory .h3title {
      float: left;
      width: 331px;
      background-color: #f8f8f8;
      padding-top: 7px;
      margin-top: 12px;
    }

    .boxnewscategory p.sapo {
      font: 500 12px/18px Arial;
      color: #777;
      text-align: left;
      width: 100%;
      float: left;
      padding: 0 15px 13px;
      background-color: #f8f8f8;
      margin-top: 0;
    }

    .othernewscategory {
      width: 100%;
      float: left;
      padding: 5px 10px 3px;
    }

    .h3title a {
      color: #B1320D;
      float: left;
      font: 700 16px/22px Arial;
      padding: 0 15px 0;
      text-align: left;
      width: 300px;
    }

    li {
      background: url("../img/red-dot-list.gif") no-repeat scroll 1px 6px transparent;
      padding: 1px 9px 2px;
      width: 300px;
      float: left;
    }

    li a {
      font: 500 12px/18px Arial;
      color: #555;
      width: 300px;
      float: left;
    }
  }

  .homepageboxlast {
    background-position: 0 -864px;
    width: 347px;
    height: 5px;
    float: left;
    background-image: url(../img/index_11.06.2013.gif);
    background-repeat: no-repeat;
  }

  .box-title {
    float: left;
    width: 347px;
    height: 54px;
    background-repeat: no-repeat;
    background-image: url(../img/boxtitle.png);

    a {
      padding: 12px 12px 12px 25px;
      color: #fff;
      display: block;
      width: 347px;
      height: 54px;
      font-size: 29px;
      text-shadow: 2px 2px 6px #E89506;
    }

    a:hover {
      color: #fff !important;
    }
  }

  .maincontent {
    background-color: #fafafa;
    width: 100%;

    li.item {
      border-bottom: 1px solid #e4e4e4;
      margin-bottom: 17px;
      padding-bottom: 17px;
    }

    li.item div.img {
      margin-bottom: 10px;
    }

    li.item .img {
      float: left;
      margin-right: 15px;
    }
    .item .postcontent .title a {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      text-decoration: none;
      line-height: 24px;
    }
    .item .postcontent .sapo {
      color: #777;
    }

    .subtitle {
      float: left;
      margin-right: 6px;
    }

    .subtitle a, .subtitle a:visited {
      color: #fff !important;
      font-size: 11px;
      font-weight: bold;
      background-color: #f1a60c;
      padding: 4px;
      text-decoration: none;
      border-radius: 2px;
    }

    li.item .meta {
      color: #777;
      font-size: 11px;
      font-weight: bold;
    }
    .item .postcontent .title, .scrolltopleft .title {
      margin: 4px 0 5px;
    }
    .item .postcontent .title, .scrolltopleft .title {
      margin: 4px 0 5px;
    }

    .img {
      width: 180px;
      height: 113px;
    }

    img.avatar {
      width: 180px;
      height: 113px;
    }

    .left_content {
      background: #fff;
      margin-left: 20px;
      padding: 10px;
      border: 1px solid #dedede;
      -webkit-font-smoothing: antialiased;
    }
  }

  .pagercontainer {
    width: 100%;
    text-align: right;
    margin: 10px auto;
    ul li {
      list-style-type: none;
      display: inline;
    }
    a, div {
      float: none;
      display: inline;
      padding: 4px 4px;
      color: #858585;
      border: solid 1px #c9c9c9;
      text-decoration: none;
      margin: 0 5px;
    }
    .currentpage, a:hover {
      color: #6e6e6e !important;
      border: solid 1px #c9c9c9;
      background-color: #c6c6c6;
      padding: 4px 4px;
      margin: 5px;
    }
  }

}