.col-right {
  .news_you_care {
    margin-bottom: 10px;
    .hd {
      background-color: #f3f3f3;
      border-top: 2px solid #00bbf3;
      padding: 9px 0px 5px 10px;
    }

    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
    }

    li {
      border-bottom: 1px dashed #ccc;
      padding: 11px 0px 11px 0px;
    }

    li .photo {
      float: left;
      width: 120px;
      height: 90px;
      overflow: hidden;
      margin-right: 10px;
    }

    h5 {
      margin: 0;
      a {
        text-decoration: none;
        font-weight: bold;
        color: #00bbf3;
      }
    }

    h6 {
      max-width: 165px;
      float: left;
      font-size: 13px;
      margin: 0;
      font-weight: bold;
    }

    .clrb {
      clear: both;
    }
  }

  .news_box_r {
    margin-bottom: 20px;

    .hd {
      background-color: #f9f9f9;
      border-bottom: 2px solid #00bbf3;
      padding-top: 9px;
      a.on {
        background-color: #00bbf3;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        padding: 6px 15px 5px 15px;
      }
    }

    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
    }

    li {
      background: url('../img/icon_list.gif') no-repeat 0 13px transparent;
      padding: 8px 0px 7px 19px;
      border-bottom: 1px dashed #ccc;
    }
  }
}