.box {
  margin-bottom: 10px;
}

.box-header {
  border-bottom: solid 1px #ddd;
  padding: 5px 0;

  h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
  }
}

.box-content {
  padding-top: 10px;

  li {
    img {
      vertical-align: middle;
    }
    a {
      text-transform: capitalize;
      font-size: 13px;
      font-weight: bold;
    }

    .meta {
      text-transform: lowercase;
      color: #999;
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.category-container {

  .category-name {
    text-align: right;
    h3 {
      font-size: 13px;
      font-weight: bold;
    }
  }

}