#top-menu{
  background: #0099cb;
  height: 30px;
}

.wrap-nav {
  text-align: center;
  margin-bottom: 14px;
}

#navigation {
  text-align: left;
  margin: auto;
  height: 30px;
}

#navigation>li {
  float: left;
  position: relative;
}

#navigation li span a {
  display: block;
  height: 30px;
  padding: 5px 10px 0 9px;
  font-size: 1.2em;
  font-weight: bold;
  color: #e2f7fd;
  text-decoration: none;
}

#navigation li span a:hover, #navigation li.current span a, #navigation li:hover span a {
  background: #0085b1;
  color: #fff;
}


#navigation li span+ul {
  position: absolute;
  top: 30px;
  left: 0;
  background: #0085b1;
  z-index: 900;
  display: none;
}

#navigation li li a {
  font-size: 1.2em;
  color: #fff;
  display: block;
  padding: 7px 5px;
  text-transform: capitalize;
  width: 200px;
}

#navigation li li a:hover {
  background: #e1eaed;
  color: #147;
}