#top-menu {

  .menubar {
    background-color: #00bbf2;
    border-top: 1px solid #04adde;
    height: 31px;
  }

  ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    float: left;
    height: 31px;
  }

  li a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    padding: 6px 7px 0px 6px;
  }

  li a.on {
    background-color: #0a86ab;
  }

  li a.home span {
    display: inline-block;
    width: 18px;
    height: 19px;
    background: url('../img/homeicon.png') no-repeat 0 0 transparent;
    position: relative;
  }
}