#top-menu {

  .nav-bar {
    border-top: 1px solid #000;
    border-bottom: 3px solid red;
  }

  li {
    float: left;
    height: 41px;
    position: relative;
    padding: 0px;
    margin: 0px;
  }

  li.on a {
    background-color: red;
    color: #fff;
  }

  li .home {
    padding: 10px 10px 0px 10px;
  }

  li a {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    padding: 10px 7px 0px 7px;
    height: 41px;
  }

  li .bd_r {
    display: inline-block;
    width: 1px;
    height: 41px;
    background: url('../img/bd_r_menu.png') no-repeat 0 9px transparent;
    float: left;
  }

  li .submenu {
    position: absolute;
    top: 41px;
    left: 0;
    z-index: 1000;
    min-width: 200px;
    background-color: #f9f9f9;
    border-top: 3px solid red;
    display: none;
  }
  li .home {
    padding: 10px 10px 0px 10px;
  }
  li .home i {
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url('../img/homeicon.png') no-repeat 0 -32px transparent;
  }
  li.on .home i {
    background: url('../img/homeicon.png') no-repeat 0 0 transparent;
  }
  li .home:hover i {
    background: url('../img/homeicon.png') no-repeat 0 0 transparent;
  }
  li a:hover {
    background-color: red;
    color: #fff;
  }
  i.on a {
    color: #fff;
  }
  a {
    text-decoration: none;
  }
}