@(newsBoxs: List[NewsBoxDto], articleMostReads: List[Article])
@import views.html.partials._


<div class="col-md-3">
    @newsBoxs.map{ box =>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@box.title</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                @box.blogs.map { blog =>
                <li>
                    <a href="/blog/@blog.domain">
                        <img src="https://www.google.com/s2/favicons?domain=@blog.url&alt=feed" alt="@blog.name"/>
                        @blog.name
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
    }
</div>
<div class="col-md-6">col6</div>
<div class="col-md-3">col3</div>

