@(newsBoxs: List[NewsBoxDto], articleMostReads: List[Article], latestArticles: List[Article], blogs: List[Blog])
@import views.html.partials._


<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <h2><a href="#">Bài mới nhất <i class="fa fa-chevron-circle-right"></i></a></h2>
            </div>
            <div class="box-content">
                @latestArticles.map { article =>
                @smallarticle(article)
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header">
                <h2><a href="#">Bài nên đọc <i class="fa fa-chevron-circle-right"></i></a></h2>
            </div>
            <div class="box-content">
                @articleMostReads.map { article =>
                <div class="hot-article">
                    <div class="col-md-5">
                        @article.featureImage.map { img =>
                        <a href="/r/@article.blogName/@article.uniqueTitle" target="_blank"><img src="@img" alt="@article.title"/></a>
                        }.getOrElse {
                        <div style="height: 108px;"></div>
                        }
                    </div>
                    <div class="col-md-7">
                        <h2 class="title"><a href="/r/@article.blogName/@article.uniqueTitle" target="_blank">@article.title</a></h2>
                        <p class="description">@article.shortDescription()</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
        <!--top blog-->
        <div class="box">
            <div class="box-header">
                <h2><a href="#">Blog nên đọc <i class="fa fa-chevron-circle-right"></i></a></h2>
            </div>
            <div class="box-content">
                <div class="top-blogs">
                    <ul>
                        @blogs.map{ blog =>
                        <li>
                            <a href="/blog/@blog.uniqueName">
                                <img src="https://www.google.com/s2/favicons?domain=@blog.url&alt=feed" alt="@blog.name"/>
                                @blog.name
                                @if(blog.read > 0) {
                                - <span class="meta">@blog.read lượt xem</span>
                                }
                            </a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <!--Facebook plugin-->
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FHayhayblog%2F230571323793343&amp;width=300px&amp;height=420&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=710328198998370"
                scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:420px;" allowTransparency="true">
        </iframe>
    </div>
</div>

@newsBoxs.map { box =>
<div class="row">
    <div class="col-md-12">
        @newsbox(box)
    </div>
</div>
}