@(newsBoxs: List[NewsBoxDto])
@import views.html.partials._
@import views.partials._

<div class="row">
    <div class="col-md-6">
        <div id="box-phimanh" class="homepage-box clearfix" style="height: 478px;">
            <div class="box-title">
                <h2>
                    <a href="/cine.chn" title="Ciné - Muôn màu thế giới phim ảnh, điện ảnh, tin phim dien anh">Cine</a>
                </h2>
            </div>
            <div class="content">
                <div class="boxnewscategory clearfix">
                    <a title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" class="avatar " href="/cine/trai-dep-ngoai-hanh-tinh-om-cham-nguoi-yeu-tu-phia-sau-201423211517743.chn">

                        <img src="http://kenh14.vcmedia.vn/zoom/302_190/F0mRZvticcccccccccccnbIw5C6ZK/Image/2014/02/ava-33637.jpg" title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" alt="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau">
                        <span class="icon"></span></a>

                    <h3 class="h3title">

                        <div class="subtitle">
                            <a href="/man-from-the-stars-sbs-2013.html" title="Man from the stars (sbs 2013)">Man from the stars (sbs 2013)</a></div>

                        <a title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" href="/cine/trai-dep-ngoai-hanh-tinh-om-cham-nguoi-yeu-tu-phia-sau-201423211517743.chn">
                            Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau</a>
                    </h3>
                    <p class="sapo">
                        Preview tập 14 của "Vì sao đưa anh tới" đã tiết lộ cảnh ôm ấp từ phía sau mà Do Min Joon (Kim Soo Hyun) dành cho Chun Song Yi (Jeon Ji Hyun).</p>
                    <div class="clearfix"></div>
                </div>
                <ul class="othernewscategory">

                    <li><a href="/cine/phim-cua-zac-efron-mo-hang-tham-hai-dau-nam-moi-2014020304314718.chn" title="Phim của Zac Efron &quot;mở hàng&quot; thảm hại đầu năm mới">
                        Phim của Zac Efron "mở hàng" thảm hại đầu năm mới</a> </li>

                    <li><a href="/cine/bo-cua-da-jung-yoona-co-nguy-co-mat-som-20142313263475.chn" title="Bố của Da Jung (Yoona) có nguy cơ mất sớm">
                        Bố của Da Jung (Yoona) có nguy cơ mất sớm</a> </li>

                </ul>
            </div>
        </div>

        <div id="box-phimanh" class="homepage-box clearfix" style="height: 478px;">
            <div class="box-title">
                <h2>
                    <a href="/cine.chn" title="Ciné - Muôn màu thế giới phim ảnh, điện ảnh, tin phim dien anh">Cine</a>
                </h2>
            </div>
            <div class="content">
                <div class="boxnewscategory clearfix">
                    <a title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" class="avatar " href="/cine/trai-dep-ngoai-hanh-tinh-om-cham-nguoi-yeu-tu-phia-sau-201423211517743.chn">

                        <img src="http://kenh14.vcmedia.vn/zoom/302_190/F0mRZvticcccccccccccnbIw5C6ZK/Image/2014/02/ava-33637.jpg" title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" alt="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau">
                        <span class="icon"></span></a>

                    <h3 class="h3title">

                        <div class="subtitle">
                            <a href="/man-from-the-stars-sbs-2013.html" title="Man from the stars (sbs 2013)">Man from the stars (sbs 2013)</a></div>

                        <a title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" href="/cine/trai-dep-ngoai-hanh-tinh-om-cham-nguoi-yeu-tu-phia-sau-201423211517743.chn">
                            Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau</a>
                    </h3>
                    <p class="sapo">
                        Preview tập 14 của "Vì sao đưa anh tới" đã tiết lộ cảnh ôm ấp từ phía sau mà Do Min Joon (Kim Soo Hyun) dành cho Chun Song Yi (Jeon Ji Hyun).</p>
                    <div class="clearfix"></div>
                </div>
                <ul class="othernewscategory">

                    <li><a href="/cine/phim-cua-zac-efron-mo-hang-tham-hai-dau-nam-moi-2014020304314718.chn" title="Phim của Zac Efron &quot;mở hàng&quot; thảm hại đầu năm mới">
                        Phim của Zac Efron "mở hàng" thảm hại đầu năm mới</a> </li>

                    <li><a href="/cine/bo-cua-da-jung-yoona-co-nguy-co-mat-som-20142313263475.chn" title="Bố của Da Jung (Yoona) có nguy cơ mất sớm">
                        Bố của Da Jung (Yoona) có nguy cơ mất sớm</a> </li>

                </ul>
            </div>
        </div>

        <div class="homepageboxlast">&nbsp;</div>
    </div>

    <div class="col-md-6">
        <div id="box-phimanh" class="homepage-box clearfix" style="height: 478px;">
            <div class="box-title">
                <h2>
                    <a href="/cine.chn" title="Ciné - Muôn màu thế giới phim ảnh, điện ảnh, tin phim dien anh">Phim anh</a>
                </h2>
            </div>
            <div class="content">
                <div class="boxnewscategory clearfix">
                    <a title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" class="avatar " href="/cine/trai-dep-ngoai-hanh-tinh-om-cham-nguoi-yeu-tu-phia-sau-201423211517743.chn">

                        <img src="http://kenh14.vcmedia.vn/zoom/302_190/F0mRZvticcccccccccccnbIw5C6ZK/Image/2014/02/ava-33637.jpg" title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" alt="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau">
                        <span class="icon"></span></a>

                    <h3 class="h3title">

                        <div class="subtitle">
                            <a href="/man-from-the-stars-sbs-2013.html" title="Man from the stars (sbs 2013)">Man from the stars (sbs 2013)</a></div>

                        <a title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" href="/cine/trai-dep-ngoai-hanh-tinh-om-cham-nguoi-yeu-tu-phia-sau-201423211517743.chn">
                            Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau</a>
                    </h3>
                    <p class="sapo">
                        Preview tập 14 của "Vì sao đưa anh tới" đã tiết lộ cảnh ôm ấp từ phía sau mà Do Min Joon (Kim Soo Hyun) dành cho Chun Song Yi (Jeon Ji Hyun).</p>
                    <div class="clearfix"></div>
                </div>
                <ul class="othernewscategory">

                    <li><a href="/cine/phim-cua-zac-efron-mo-hang-tham-hai-dau-nam-moi-2014020304314718.chn" title="Phim của Zac Efron &quot;mở hàng&quot; thảm hại đầu năm mới">
                        Phim của Zac Efron "mở hàng" thảm hại đầu năm mới</a> </li>

                    <li><a href="/cine/bo-cua-da-jung-yoona-co-nguy-co-mat-som-20142313263475.chn" title="Bố của Da Jung (Yoona) có nguy cơ mất sớm">
                        Bố của Da Jung (Yoona) có nguy cơ mất sớm</a> </li>

                </ul>
            </div>
        </div>

        <div id="box-phimanh" class="homepage-box clearfix" style="height: 478px;">
            <div class="box-title">
                <h2>
                    <a href="/cine.chn" title="Ciné - Muôn màu thế giới phim ảnh, điện ảnh, tin phim dien anh">Cine</a>
                </h2>
            </div>
            <div class="content">
                <div class="boxnewscategory clearfix">
                    <a title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" class="avatar " href="/cine/trai-dep-ngoai-hanh-tinh-om-cham-nguoi-yeu-tu-phia-sau-201423211517743.chn">

                        <img src="http://kenh14.vcmedia.vn/zoom/302_190/F0mRZvticcccccccccccnbIw5C6ZK/Image/2014/02/ava-33637.jpg" title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" alt="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau">
                        <span class="icon"></span></a>

                    <h3 class="h3title">

                        <div class="subtitle">
                            <a href="/man-from-the-stars-sbs-2013.html" title="Man from the stars (sbs 2013)">Man from the stars (sbs 2013)</a></div>

                        <a title="Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau" href="/cine/trai-dep-ngoai-hanh-tinh-om-cham-nguoi-yeu-tu-phia-sau-201423211517743.chn">
                            Trai đẹp ngoài hành tinh ôm chầm người yêu từ phía sau</a>
                    </h3>
                    <p class="sapo">
                        Preview tập 14 của "Vì sao đưa anh tới" đã tiết lộ cảnh ôm ấp từ phía sau mà Do Min Joon (Kim Soo Hyun) dành cho Chun Song Yi (Jeon Ji Hyun).</p>
                    <div class="clearfix"></div>
                </div>
                <ul class="othernewscategory">

                    <li><a href="/cine/phim-cua-zac-efron-mo-hang-tham-hai-dau-nam-moi-2014020304314718.chn" title="Phim của Zac Efron &quot;mở hàng&quot; thảm hại đầu năm mới">
                        Phim của Zac Efron "mở hàng" thảm hại đầu năm mới</a> </li>

                    <li><a href="/cine/bo-cua-da-jung-yoona-co-nguy-co-mat-som-20142313263475.chn" title="Bố của Da Jung (Yoona) có nguy cơ mất sớm">
                        Bố của Da Jung (Yoona) có nguy cơ mất sớm</a> </li>

                </ul>
            </div>
        </div>

        <div class="homepageboxlast">&nbsp;</div>

    </div>
</div>
